*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  background-color: #050118;
}

.disclaimer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 600px;
  margin: 0px auto 0px auto;
}

.disclaimer img{
  margin: 50px auto 15px auto;
  width: 43px;
  height: 100%;
}

.disclaimer p {
  font-size: 20px;
}

.btn-look{
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 25px;
  border: none;
  background-color: white;
  color: #671464;
}

.btn-look:hover{
  background-color: #671464;
  color: white;
}

.footer{
  text-align: center;
  color: white;
  margin-top: 150px;
  padding-bottom: 20px;  
}


